<!DOCTYPE html>
<html>
<head>
<title> CSS Login Screen Tutorial </title>
</head>
<body>
    <div class="main">
         <div class="form-box">
             <div class="button-box">
                 <div id="button"></div>
                 <button type="button" class="toggle-btn" onclick="loginForm()">Log In</button>
                 <button type="button" class="toggle-btn" onclick="registeration()">Register</button>
             </div>
             <div class="social-media-icons">
                 <a  (click)="facebookSignin()"><img class="fb"></a>
                 <img class="twitter">
                 <a (click)="googleSignin()"><img class="gmail"></a>
             </div>
             <div id="login1" class="form-group" *ngIf="!forgotPasswordInput">
                 <input #loginUsername type="text" class="input" placeholder="Enter Username" required>
                 <input #loginPassword type="password" class="input" placeholder="Enter Password" required>                 
                 <button (click)="onLogin(loginUsername,loginPassword)" type="submit" class="submit">Log In</button>
                 <br>
                 <a (click)="forgotPassword()" class="forgotPass">Forgot Password?</a>

             </div>
             <div *ngIf="!forgotPasswordInput">
             <div id="register1" class="form-group">                
                <input #registerEmail type="email" class="input" placeholder="Enter Email" required>
                <input #registerPassword type="password" class="input" placeholder="Enter Password" required>
                <input #registerConfirmPassword type="password" class="input" placeholder="Confirm Password" required>
                <input type="checkbox" class="checkbox"><span>I agree to the terms and conditions </span>
                <button class="submit" (click)="onRegister(registerEmail,registerPassword,registerConfirmPassword)">Register</button>

             </div>
        </div>
            <div *ngIf="forgotPasswordInput">
            <div id="login1" class="form-group">
                <input #recoveryEmail type="email" class="input" placeholder="Enter Email" required>
                <button class="submit" (click)="onResetPassword(recoveryEmail)">Submit</button>
                <br>
                <a (click)="loginPage()" class="forgotPass" style="text-align: center;">Back to Login page</a>

            </div>
            </div>
         </div>
    </div>
   
</body>
</html>
