<div id="post-feed">
<app-posts *ngFor="let post of posts" [postData]="post"></app-posts>
</div>
<html>
    <head></head>
    <body>
        <div class="container">
            <div class="sidenav">
                <a (click)="onCreatePostClick()">Add photos</a>
                <a href="">Title 2</a>
                <a href="">Title 3</a>
                <a href="">Title 4</a>
              </div>
              <div class="main">

              </div>
           
        </div>
    </body>
</html>