
<div id="post-feed">
    <br>
    <h2 style="text-align: center; padding-top: 10px;">Your activity</h2>
    <hr>
<app-posts *ngFor="let post of posts" [postData]="post"></app-posts>
</div>
<html>
    <head></head>
    <body>
        <div class="container">
            <div class="sidenav">
                <a (click)="onCreatePostClick()">Add photos</a>
                <a href="" routerLink = "/timeline">Your Timeline</a>
                <a href="">Categories</a>
                <a href="">Groups</a>
              </div>
              <div class="main">

              </div>
           
        </div>
    </body>
</html>