.navbar{
    display: flex;
    height: 15%;
    width: 84%;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #111;
; 
    position: fixed;
    z-index: 1000;
    top: 0;
}

.logo{
    width: 120px;
    height: 100px;
    cursor: pointer;
    background: url(src/assets/Photobook-logos_black.png) no-repeat;

}

.icon{
    background: url(src/assets/menu.png) no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}