<!-- <app-home></app-home> -->
<!-- <app-login></app-login> -->
<!-- <app-header></app-header> -->
<div class="navbar" *ngIf="!loggedIn()">
    <img class="logo">
    <nav>
        <ul>
            <li><a href="" routerLink = "">Home</a></li>
            <li><a href="" routerLink = "/login" routerLinkActive= "active">Login</a></li>
            <li><a href="" routerLink = "/about">About</a></li>
        </ul>
    </nav>
</div>
<div class="navbar" *ngIf="loggedIn()">
    <img class="logo">
    <nav>
        <ul>
            <li><a>Hello, {{userDocument?.publicName}}&nbsp; </a></li>
            <li><button type="button" (click)="onLogoutClick()" class="btn btn-outline-danger">Logout</button></li>
        </ul>
    </nav>
    <img class="icon">
</div>
<router-outlet></router-outlet>

<app-profile [show]="loggedIn()" *ngIf="!emailNotVerified && !this.userHasProfile" ></app-profile>
