<html>
    <head></head>
    <body>
        <div class="container">
            <!-- <div class="navbar">
                <img class="logo">
                <nav>
                    <ul>
                        <li><a href="" >Home</a></li>
                        <li><a href="" routerLink = "/login" routerLinkActive= "active">Login</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                </nav>
                <img class="icon">
            </div> -->

            <div class="row">
                <div class="col">
                    <h1>Photobook</h1>
                    <hr>
                    <br>
                    <p>Share your favourite photos!</p>
                    <button style="cursor: pointer;" type="button" routerLink = "/login">Get Started</button>

                </div>
                <div class="col">
                    <div class="card tile1">
                        <h5>Upload</h5>
                        <p> this is the photo upload</p>
                    </div>
                    <div class="card tile2">
                        <h5>Share</h5>
                        <p> this is the photo upload</p>
                    </div>
                    <div class="card tile3">
                        <h5>Edit</h5>
                        <p> this is the photo upload</p>
                    </div>
                    <div class="card tile4">
                        <h5>Gallery</h5>
                        <p> this is the photo upload</p>
                    </div>

                </div>

            </div>

        </div>
    </body>
</html>